nodered/cloud-flows.json
[{"id":"b2acac5a8d067a93","type":"tab","label":"플로우 5","disabled":false,"info":"","env":[]},{"id":"86aaeb77.1cbab8","type":"ibmiot out","z":"b2acac5a8d067a93","authentication":"apiKey","apiKey":"","outputType":"cmd","deviceId":"","deviceType":"","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":940,"y":440,"wires":[]},{"id":"5e545ee1.d2b6a","type":"inject","z":"b2acac5a8d067a93","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"fan Off","payloadType":"str","x":330,"y":400,"wires":[["87931ed9.9e082"]]},{"id":"3db974c2.8d2e3c","type":"inject","z":"b2acac5a8d067a93","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"fan On","payloadType":"str","x":330,"y":480,"wires":[["87931ed9.9e082"]]},{"id":"87931ed9.9e082","type":"function","z":"b2acac5a8d067a93","name":"format message","func":"msg.payload = { \"cmd\" : {  \"action\" : msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":440,"wires":[["c20384f4.a25888"]]},{"id":"c20384f4.a25888","type":"json","z":"b2acac5a8d067a93","name":"","property":"payload","action":"","pretty":false,"x":750,"y":440,"wires":[["86aaeb77.1cbab8"]]},{"id":"6b01183cd6d60554","type":"comment","z":"b2acac5a8d067a93","name":"Send a command from Cloud","info":"","x":380,"y":300,"wires":[]},{"id":"b8853670e0f65347","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
