nodered/rpi4-nodered-flows.json
[{"id":"3dbd1926.cbc8d6","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"7fd125d7.8ad96c","type":"inject","z":"3dbd1926.cbc8d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":240,"wires":[["36a258ea.65e808"]]},{"id":"36a258ea.65e808","type":"exec","z":"3dbd1926.cbc8d6","command":"","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp measure","x":410,"y":240,"wires":[["fdef9f49.1aa6e","6fc1a04d.f631e"],[],[]]},{"id":"6fc1a04d.f631e","type":"function","z":"3dbd1926.cbc8d6","name":"","func":"msg.payload = {'d' : {'temp':msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["b715bc4a.c07f","4279a411.c4cadc"]]},{"id":"fdef9f49.1aa6e","type":"debug","z":"3dbd1926.cbc8d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"b715bc4a.c07f","type":"debug","z":"3dbd1926.cbc8d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"4279a411.c4cadc","type":"wiotp out","z":"3dbd1926.cbc8d6","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"4be2ff5.8311","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":850,"y":280,"wires":[]},{"id":"6319012d.87aea","type":"wiotp in","z":"3dbd1926.cbc8d6","authType":"d","deviceKey":"4be2ff5.8311","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"왓슨 IoT에서","x":200,"y":480,"wires":[["9efa317f.960fa"]]},{"id":"9efa317f.960fa","type":"debug","z":"3dbd1926.cbc8d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":480,"wires":[]},{"id":"4be2ff5.8311","type":"wiotp-credentials","name":"","org":"","serverName":"","devType":"","devId":"","keepalive":"60","cleansession":true,"tls":"","usetls":false}]