nodered/rpi4-nodered-flows.json
[{"id":"cfd21c0e.585ad","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"c458240f.b5f108","type":"inject","z":"cfd21c0e.585ad","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":240,"wires":[["4a26adf.d09ec54"]]},{"id":"4a26adf.d09ec54","type":"exec","z":"cfd21c0e.585ad","command":"/usr/bin/vcgencmd","addpay":"","append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"Temp measure","x":470,"y":240,"wires":[["481b7403.96bf3c","610217ed.937a28"],[],[]]},{"id":"610217ed.937a28","type":"function","z":"cfd21c0e.585ad","name":"","func":"msg.payload = {'d' : {'temp':msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["c668e6a1.4b4518","fbe4dad6.efcb68"]]},{"id":"481b7403.96bf3c","type":"debug","z":"cfd21c0e.585ad","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"c668e6a1.4b4518","type":"debug","z":"cfd21c0e.585ad","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]},{"id":"fbe4dad6.efcb68","type":"wiotp out","z":"cfd21c0e.585ad","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"4be2ff5.8311","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":910,"y":280,"wires":[]},{"id":"4be2ff5.8311","type":"wiotp-credentials","name":"","org":"dpq7xc","serverName":"","devType":"rpi4","devId":"rpi2022a","keepalive":"60","cleansession":true,"tls":"","usetls":false}]